<!DOCTYPE html>

<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title><%= providerName %> Account Authentication page</title>
    <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
    <script>
        window.addEventListener("load", evt => {
          const config = {
            apiKey: "<%= projectApiKey %>",
            authDomain: "<%= projectId %>.firebaseapp.com",
            projectId: "<%= projectId %>"
          };
          firebase.initializeApp(config);
          const provider = new firebase.auth.<%= providerName %>AuthProvider();
          provider.setCustomParameters({
            "prompt": "consent select_account"
          });
          const scopes = [<%- scopes.map(scope => {return `"${scope}"`}).join(", ") %>];
          scopes.forEach(scope => {
            provider.addScope(scope);
          });
          (async () => {
            try {
              const {user, credential} = await firebase.auth().getRedirectResult();
              if (user && credential) {
                user.getIdToken(true).then(idToken => {
                  document.forms[0]["id_token"].value = idToken;
                  document.forms[0]["access_token"].value = credential.accessToken;
                  document.forms[0]["success"].value = "true";
                  document.forms[0].submit();
                }).catch(e => {
                  console.log("e", e);
                  document.forms[0]["error"].value = e.toString();
                  document.forms[0]["success"].value = "false";
                  document.forms[0].submit();
                });
              } else {
                firebase.auth().signInWithRedirect(provider);
              }
            } catch (err) {
              console.log("error", err);
              document.forms[0]["error"].value = err.toString();
              document.forms[0]["success"].value = "false";
              document.forms[0].submit();
            }
          })();
        });
    </script>
</head>
<body>
    <p>Now loading...</p>
    <form name="response" method="post">
        <input type="hidden" name="auth_token" value="<%= authToken %>">
        <input type="hidden" name="id_token" value="">
        <input type="hidden" name="access_token" value="">
        <input type="hidden" name="error" value="">
        <input type="hidden" name="success" value="">
        <input type="hidden" name="federated_auth_prodiver_name" value="<%= providerName %>">
    </form>
</body>
</html>
